<div ng-controller="SearchCtrl">

  <div class="container-fluid search-play-drawer">

    <div class="row">
      <div class="col-md-6 search-pane">

        <h3><span class="txt-blue">SEARCH</span> FOR MUSIC</h3>

        <form class="navbar-form sp-search" role="search">
          <div class="input-group">
            <input type="text" ng-model="vm.query" class="form-control" placeholder="Search" name="q">

            <div class="input-group-btn">
              <button class="btn btn-default" ng-click="search()" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>

        <h3 class="h-underline">RESULTS</h3>
        <ul class="track-list">
          <li ng-repeat="track in vm.tracks">
            <div class="row">
              <div class="col-md-2">{{track.user.username}}</div>
              <div class="col-md-5">{{track.title}}</div>
              <div class="col-md-2">{{track.bpm}}</div>
              <div class="col-md-2">{{track.genre}}</div>
              <div class="col-md-1">
                <button ng-click="addToPlaylist(track)" ng-hide="isOnPlaylist(track)" class="btn-plus">
                  +
                </button>
                <button ng-click="remFromPlaylist(track)" ng-show="isOnPlaylist(track)" class="btn-minus">
                  -
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-md-6 playlist-pane">
        <h3 class="h-underline txt-blue">PLAYLIST</h3>
        <ul class="playlist-list">
          <li ng-repeat="track in vm.playlist">
            <div class="row">

              <div class="col-md-1">
                <button ng-click="addToMixer(track, 'A')" class="btn-a">
                  A
                </button>
              </div>
              <div class="col-md-1">
                <button ng-click="addToMixer(track, 'B')" class="btn-b">
                  B
                </button>
              </div>
              <div class="col-md-2">{{track.user.username}}</div>
              <div class="col-md-4">{{track.title}}</div>
              <div class="col-md-1">{{track.bpm}}</div>
              <div class="col-md-2">{{track.genre}}</div>
              <div class="col-md-1">
                <button ng-click="remFromPlaylist(track)" class="btn-minus">
                  -
                </button>

              </div>

            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>
