@import url(http://fonts.googleapis.com/css?family=Open+Sans:800italic,400,700,300,800);
@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/font-awesome/less/font-awesome.less';
@import '../assets/styles/palette';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

.container { width: @container-desktop !important; }

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// injector
@import 'home/home.less';
@import 'modules/console/console.less';
@import 'modules/deck/dec.less';
@import 'modules/search/search.less';
@import 'modal/modal.less';
// endinjector

.square-button(@fg){
  background:@color-grey-medium;
  color:@fg;
  border:2px solid @color-grey-light;
  width: 44px;
  height:44px;
  line-height: 0;
  font-size:24px;
  font-weight:400;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  background: @color-grey-prime;
  color:@color-grey-lightest;
}

ul{
  list-style:none;
  padding:0;
  margin:0;
  li{
    padding:0;
    margin:0;
  }
}

input,button,:focus{
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.txt-blue {
  color: @color-blue;
}
.txt-yellow{
  color: @color-yellow;
}

.txt-cyan{
  color:@color-cyan;
}

.txt-red{
  color:@color-red;
}

.txt-grey-light{
  color:@color-grey-light;
}

.h-underline{
  border-bottom:2px solid @color-grey-light;
}

.main-header{
  height:60px;
  .app-title{
    font-size:28px;
    font-weight: 800;
    font-style: italic;
    color:@color-yellow;
    margin:0;
    padding:10px 0 0 20px;
    span{
      color:@color-grey-light;
    }
  }
  .app-ver{
    font-size:10px;
    position:absolute;
    left:140px;
    color:@color-grey-light;
    font-weight:800;
    font-style: italic;
  }
}

.search-slider-title{
  font-style: italic;
  font-weight:800;
  font-size:14px;
  cursor: pointer;
  margin-top:-7px;
  i{
    font-size:20px;
    padding:24px 3px;
  }
}
.search-play-drawer {

  padding-left:30px!important;
  padding-right:0!important;

  li {
    padding: 2px 0;
    line-height: 44px;
  }

  h3 {
    font-style: italic;
    font-size: 18px;
    font-weight: 800;
    margin: 0;
    padding: 0 0 5px 0;
  }

  .search-pane {
    background: @color-grey-dark;
    color: @color-grey-lightest;
    padding: 20px;
    border:5px solid @color-grey-prime;

    .sp-search {
      width: 100%;
      padding: 0;
      input, button, :focus {
        border-radius: 0;
        background: @color-grey-prime;
        border: none;
        color: @color-grey-light;
        height: 36px;
      }
      input {
        font-size: 12px;
        font-weight: 700;
      }
      button:focus {
        border: 1px solid @color-grey-prime;
      }
      .input-group {
        width: 100%;
      }
    }

    button.btn-plus,
    button.btn-minus {
      .square-button(@color-green);
    }
  }

  .playlist-pane {
    background: @color-grey-dark;
    color: @color-grey-lightest;
    padding: 20px;
    border:5px solid @color-grey-prime;

    button.btn-a{
      .square-button(@color-cyan);
    }
    button.btn-b{
      .square-button(@color-red);
    }
    button.btn-minus{
      .square-button(@color-green);
    }
  }
}

.console{
  background:@color-grey-medium;
  padding-top:15px;
}


.deck-a{
  .deck {
    padding-left:15px;
  }
  .player-head{
    color:@color-cyan;
  }
  .progress-slider .slider-handle{
    .grad-cyan;
  }
  .progress-slider .slider-selection{
    background-color: @color-cyan!important;
  }
  .sl-value{
    color:@color-cyan;
  }
  .effect-vertical-slider{
    .filler,
    .slider-track{
      background: @color-cyan-dark;
    }
  }
}
.deck-b{
  .deck {
    padding-right: 15px;
  }
  .player-head{
    color:@color-red;
  }
  .progress-slider .slider-handle{
    .grad-red;
  }
  .progress-slider .slider-selection{
    background-color: @color-red!important;
  }
  .sl-value{
    color:@color-red;
  }
  .effect-vertical-slider{
    .filler,
    .slider-track{
      background: @color-red-dark;
    }
  }
}

.player{
  header{
    background:@color-grey-prime;
    padding:0 15px;
    .ph-item{
      float:left;
    }
    .channel{
      font-size:34px;
      font-weight:700;
      margin:0 12px;
    }
    .channel-title,
    .channel-progress{
      font-size:10px;
      font-weight:300;
      padding: 6px 10px;
      line-height: 28px;
      height: 38px;
      margin-top: 6px;
      display:block;
    }
    .channel-title{
      border-left:2px solid @color-grey-light;
      width:368px;
      padding-right:15px;
      display: block;
      overflow:hidden;
    }
    .channel-progress{
      width:50px;
    }
    .channel-tempo{
      font-size: 10px;
      font-weight: 300;
      padding: 6px 10px;
      height: 38px;
      margin-top: 6px;
      text-align:right;
      border-left:2px solid @color-grey-light;
      width:70px;
    }
  }
  .cue-marker{
    color:red;
    background:red;
    position:absolute;
    z-index:1000;
  }

  .wave-progress{
    border:2px solid @color-grey-prime;
    height:168px;
    padding-right:46px;
    overflow:hidden;

    .progress-slider{
      position:relative;
      top:-175px;
      height: 6px;

      .slider-horizontal {
        width: 100%;
        .slider-handle {
          position: absolute;
          width: 300px;
          height: 164px;
          box-shadow: none;
          opacity: 1;
          border: none;
          top: 5px;
          margin-left: -300px;
        }
        .slider-track {
          position: absolute;
          cursor: pointer;
          background: transparent;
          background-image: none;
          filter: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          border-radius: 0;
          height: 164px;
        }
        .slider-selection {
          position: absolute;

          background-image: none;
          filter: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 0;
          height: 6px;

        }
      }
    }


    .tempo-slider-container{
      position: relative;
      top: -174px;
      left: 500px;
      .btn-tempo{
        background:none;
        border:none;
        color:@color-grey-light;
        font-size:16px;
        position: relative;
        padding: 6px 5px;
        left:-3px;
      }
    }

    .tempo-slider{
      .slider-vertical {
        height: 94px;
        width: 8px;
        left:0;
        .slider-handle {
          position: absolute;
          width: 40px;
          height: 20px;
          left:-14px;
          margin-top:-10px;
          background-color: @color-grey-prime;
          background-image: none;
          -webkit-filter: none;
          filter: none;
          box-shadow: none;
          opacity: 1;
          border: 2px solid @color-grey-light;
          top: -18px;
        }
        .slider-track {
          width: 2px;
          height: 100%;
          margin-left: 0;
          left: 10px;
          top: 0;

          position: absolute;
          cursor: pointer;
          background:@color-grey-dark;
          background-image: none;
          filter: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 0;
        }
        .slider-selection {
          left: 0;
          top: 0;
          bottom: 0;

          position: absolute;
          background: @color-grey-dark;
          background-image: none;
          filter: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 0;

        }
      }
    }


  }

  .player-buttons{
    margin:10px 0;
    padding-bottom:10px;
    border-bottom:2px solid @color-grey-light;
  }

  button.btn-play{
    .square-button(@color-green);
  }
  button.btn-pause{
    .square-button(@color-yellow);
  }
  button.btn-stop{
    .square-button(@color-pink);
  }
  button.btn-cue{
    .square-button(@color-grey-lightest);
    font-size:12px;
    line-height:44px;
  }
}

.deck{
  .effects-holder{
    margin-left:15px;
    margin-right:15px;
  }
  .btn-add-effect{
    .square-button(@color-green);
    width:120px;
    font-size:12px;
    font-weight:400;
    margin-right:2px;
  }

  .btn-effect-scroll{
    float:left;
    .square-button(@color-grey-light);
  }

  .effects-teaser-holder{
    width: 326px;
    float:left;
    overflow:hidden;
    height:44px;
  }

  .effect-teaser{
    border:2px solid @color-grey-prime;
    height:44px;
    line-height: 30px;
    font-size:10px;
    font-weight:400;
    float: left;
    padding-left:8px;
    margin:0 1px;
    button {
      background:none;
      border:none;
      font-size:18px;
    }
  }

  .effects-gallery{
    margin-top:10px;
    padding:10px 32px 10px 32px;
    background:@color-grey-dark;
    display:block;
    height:286px;
    .btn-effect{
      border:1px solid @color-grey-light;
      background:@color-grey-medium;
      width:225px;
      height:34px;
      text-align: left;
      float:left;
      margin:5px;
      padding-left:10px;
    }

    .footer-buttons{
      .btn-use{
        .square-button(@color-green);
        font-size:14px;
        font-weight: 700;
        width:140px;
        display:none;
      }
      .btn-close{
        .square-button(@color-pink);
        font-size:14px;
        font-weight: 700;
        width:140px;
        margin-top: 7px;
        margin-left: 164px;
        height:34px;
      }
    }
  }

  .nb-slider-label{
    height:18px;
    background:@color-grey-prime;
    font-size:10px;
    font-weight:800;
    line-height:18px;
    padding:0 6px;
  }
  .sl-value{
    float: right;
    width: 24px;
    text-align: right;
    overflow: hidden;
  }

  .effect-slider{
    margin:22px 0 0 0;
  }

  .effect-vertical-slider {
    height: 242px;
    width: 92px;
    padding-top: 0;
    border: 2px solid @color-grey-prime;
    float:left;
    margin-right:20px;
    .filler{
      display:block;
      height:36px;
      position:absolute;
      //background:@color-green;
      width:84px;
      margin-top:200px;
      margin-left:2px;
    }
    .slider-vertical {
      height: 183px;
      width: 100%;
      left:0;
      .tooltip{
        display:none;
      }
      .slider-handle {
        position: absolute;
        width: 86px;
        height: 36px;
        left: 4px;
        margin-top: 0px;
        background-color: @color-grey-prime;
        background-image: none;
        -webkit-filter: none;
        filter: none;
        box-shadow: none;
        opacity: 1;
        border: 2px solid @color-grey-light;
        top: -18px;
        border-radius: 0;
      }
      .slider-track {
        width: 100%;
        height: 100%;
        margin-left: 0;
        border-left:2px solid @color-grey-medium;
        border-right:2px solid @color-grey-medium;
        left: 0;
        top: 0;

        position: absolute;
        cursor: pointer;
        //background:@color-green;
        background-image: none;
        filter: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 0;
      }
      .slider-selection {
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;

        position: absolute;
        background: @color-grey-dark;
        background-image: none;
        filter: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 0;

      }
    }
  }

}

.mixer{
  background:@color-grey-dark;
  h3{
    font-size:14px;
    font-weight:800;
    text-align: center;
    font-style: italic;
  }

  .nb-slider-label{
    height:18px;
    background:@color-grey-prime;
    font-size:10px;
    font-weight:800;
    line-height:18px;
    padding:0 6px;
  }
  .sl-value{
    float: right;
  }
  .fqz-horizontal-slider {
    height: 56px;
    padding-top: 18px;
    border: 2px solid @color-grey-prime;

    .slider-horizontal {
      width: 100%;
      .slider-handle {
        position: absolute;
        width: 20px;
        height: 50px;
        background-color: @color-grey-prime;
        background-image: none;
        -webkit-filter: none;
        filter: none;
        box-shadow: none;
        opacity: 1;
        border: 2px solid @color-grey-light;
        top: -18px;
      }
      .slider-track {
        position: absolute;
        cursor: pointer;
        background: @color-grey-prime;
        background-image: none;
        filter: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        height: 2px;
      }
      .slider-selection {
        position: absolute;
        background-color: @color-grey-prime;
        background-image: none;
        filter: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 0;
        height: 2px;

      }
    }
  }

  .vol-slider{
    margin:18px 0 0 0;
  }

  .vol-vertical-slider {
    height: 242px;
    padding-top: 0;
    border: 2px solid @color-grey-prime;
    .filler {
      display: block;
      height: 36px;
      position: absolute;
      width: 78px;
      margin-top: 200px;
      margin-left: 2px;
      background:@color-green-dark;
    }
    .slider-vertical {
      height: 238px;
      width: 100%;
      left:0;
      .slider-handle {
        position: absolute;
        width: 78px;
        height: 36px;
        left: 5px;
        margin-top: 0px;
        background-color: @color-grey-prime;
        background-image: none;
        -webkit-filter: none;
        filter: none;
        box-shadow: none;
        opacity: 1;
        border: 2px solid @color-grey-light;
        top: -18px;
      }
      .slider-track {
        width: 100%;
        height: 201px;
        margin-left: 0;
        border-left:2px solid @color-grey-medium;
        border-right:2px solid @color-grey-medium;
        left: 0;
        top: 0;

        position: absolute;
        cursor: pointer;
        background:@color-green-dark;
        background-image: none;
        filter: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 0;
      }
      .slider-selection {
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;

        position: absolute;
        background: @color-grey-dark;
        background-image: none;
        filter: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 0;

      }
    }
  }

  .fade-slider{
    margin:15px 15px;
    padding-top: 18px;
    border: 2px solid @color-grey-prime;
    border-top:none;
    border-bottom:none;

    .slider-horizontal {
      width: 100%;
      .slider-handle {
        position: absolute;
        width: 20px;
        height: 50px;
        background-color: @color-grey-prime;
        background-image: none;
        -webkit-filter: none;
        filter: none;
        box-shadow: none;
        opacity: 1;
        border: 2px solid @color-grey-light;
        top: -18px;
      }
      .slider-track {
        position: absolute;
        cursor: pointer;
        background: @color-red-dark;
        background-image: none;
        filter: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        height: 2px;
      }
      .slider-selection {
        position: absolute;
        background-color: @color-cyan-dark;
        background-image: none;
        filter: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 0;
        height: 2px;

      }
    }

  }

}

//SLIDER OVERRIDES
.slider{
  &.slider-verticle{

  }
  &.slider-horizontal{

  }
  .slider-handle{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #3a94a5;
    background-image: -webkit-linear-gradient(top, #149bdf 0%, #0480be 100%);
    background-image: linear-gradient(to bottom, #149bdf 0%, #0480be 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
    filter: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    opacity: 1;
    border: 0px solid transparent;

  }
}
