@import url(http://fonts.googleapis.com/css?family=Open+Sans:800italic,400,700,300);
@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/font-awesome/less/font-awesome.less';
@import '../assets/styles/palette';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// injector
@import 'home/home.less';
@import 'modules/mixer/mixer.less';
@import 'modal/modal.less';
// endinjector

.square-button(@fg){
  background:@color-grey-medium;
  color:@fg;
  border:2px solid @color-grey-light;
  width: 44px;
  height:44px;
  line-height: 0;
  font-size:24px;
  font-weight:400;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  background: @color-grey-prime;
}

ul{
  list-style:none;
  padding:0;
  margin:0;
  li{
    padding:0;
    margin:0;
  }
}

input,button,:focus{
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.txt-blue {
  color: @color-blue;
}

.h-underline{
  border-bottom:2px solid @color-grey-light;
}

.search-play-drawer {

  li {
    padding: 2px 0;
    line-height: 44px;
  }

  h3 {
    font-style: italic;
    font-size: 18px;
    font-weight: 800;
    margin: 0;
    padding: 0 0 5px 0;
  }

  .search-pane {
    background: @color-grey-dark;
    color: @color-grey-lightest;
    padding: 20px;
    border:5px solid @color-grey-prime;

    .sp-search {
      width: 100%;
      padding: 0;
      input, button, :focus {
        border-radius: 0;
        background: @color-grey-prime;
        border: none;
        color: @color-grey-light;
        height: 36px;
      }
      input {
        font-size: 12px;
        font-weight: 700;
      }
      button:focus {
        border: 1px solid @color-grey-prime;
      }
      .input-group {
        width: 100%;
      }
    }

    button.btn-plus,
    button.btn-minus {
      .square-button(@color-green);
    }
  }

  .playlist-pane {
    background: @color-grey-dark;
    color: @color-grey-lightest;
    padding: 20px;
    border:5px solid @color-grey-prime;
    
    button.btn-a{
      .square-button(@color-cyan);
    }
    button.btn-b{
      .square-button(@color-red);
    }
    button.btn-minus{
      .square-button(@color-green);
    }
  }
}

.mixer{
  background:@color-grey-prime;
  button.btn-play{
    .square-button(@color-green);
  }
  button.btn-pause{
    .square-button(@color-yellow);
  }
  button.btn-stop{
    .square-button(@color-pink);
  }
  button.btn-cue{
    .square-button(@color-grey-lightest);
    font-size:12px;
    line-height:44px;
  }
}
