<div class="deck">
  <player channel="{{channel}}" , track="vm.track"/>
  <section class="effects-desk">
    <header>
      <button ng-click="toggleEffectsGallery()" class="btn-add-effect">+ Add Effect</button>
    </header>

    <div class="effects-gallery" ng-show="vm.showGallery">
      <div ng-repeat="effect in vm.effectsGallery">
        <button ng-click="addEffect(effect.type)">{{effect.title}}</button>
      </div>
    </div>
    <div class="effects-list" ng-hide="vm.showGallery">

      <div ng-repeat="effect in vm.effects" class="effect-slider">
        <effect type="effect.type" value="effect.value" node="effect.node"></effect>
      </div>
    </div>
  </section>
</div>

