<div class="deck">
  <player channel="{{channel}}" , track="vm.track"/>
  <section class="effects-desk">
    <header>
      <button ng-click="toggleEffectsGallery()" class="btn-add-effect">+ Add Effect</button>
      <div>
        <div ng-repeat="effect in vm.effects" class="effect-teaser">
          <div>{{effect.type}} <button ng-click="removeFilter($index)">x</button> </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </header>

    <div class="effects-gallery" ng-show="vm.showGallery">
      <div ng-repeat="effect in vm.effectsGallery">
        <button ng-click="addEffect(effect.type)" class="btn-effect">{{effect.title}}</button>
      </div>
      <div class="footer-buttons">
        <button class="btn-use">USE</button>
        <button class="btn-close">CLOSE</button>
      </div>
    </div>
    <div class="effects-list" ng-hide="vm.showGallery">

      <div ng-repeat="effect in vm.effects" class="effect-slider">
        <effect type="effect.type" value="effect.value" node="effect.node"></effect>
      </div>
    </div>
  </section>
</div>

