<section class="player">
  <header>
    <div class="row player-head">
      <div class="ph-item channel">
        {{channel}}
      </div>
      <div class="ph-item channel-title">
        {{track.title}}
      </div>
      <div class="ph-item channel-progress">
        {{vm.time}}
      </div>
      <div class="ph-item channel-tempo">
        <span>{{bpmToStr()}}</span>
        <span>{{vm.tempoOffset}}%</span>
      </div>
    </div>
  </header>
  <div class="wave-progress">
    <waveform innercolor="#2b2b35" outercolor="#202028" track="track" class="wave-file"></waveform>
    <div class="cue-marker" style="width:{{getCuePosition()}}%">{{getCuePosition()}}</div>
    <div class="progress-slider">
      <span slider ng-model="vm.progress" min=0 max=100  handle="square" tooltip="hide"></span>
    </div>

    <div class="tempo-slider-container">
      <button class="btn-tempo-up btn-tempo" ng-click="changeTempo(0.001)"><i class="fa fa-chevron-up"></i></button>
      <div class="tempo-slider">
        <span slider ng-model="vm.tempo"  min="0.00001" max="1.99999" step="0.00001" precision="0.00001"  orientation="vertical" handle="square" tooltip="hide"></span>
      </div>
      <button class="btn-tempo-down btn-tempo" ng-click="changeTempo(-0.001)"><i class="fa fa-chevron-down"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="player-buttons">
        <button ng-click="play()" class="btn-play" ng-class="{'active' : vm.state === 'playing'}"><i class="fa fa-play"></i></button>
        <button ng-click="pause()" class="btn-pause" ng-class="{'active' : vm.state === 'paused'}"><i class="fa fa-pause"></i></button>
        <button ng-click="stop()" class="btn-stop" ng-class="{'active' : vm.state === 'stopped'}"><i class="fa fa-stop"></i></button>
        <button ng-click="cue()" class="btn-cue">cue</button>
      </div>
    </div>
  </div>
</section>
