<section class="player">
  <header>
    <div class="row player-head">
      <div class="col-md-1 channel">
        {{channel}}
      </div>
      <div class="col-md-8 channel-title">
        {{track.title}}
      </div>
      <div class="col-md-2 channel-progress">
        {{progressTime}}
      </div>
      <div class="col-md-2 channel-tempo">
        {{tempo}}
      </div>
    </div>
  </header>
  <div class="wave-progress">
    <waveform width="424" height="160" innercolor="#333" outercolor="blue" track="track"></waveform>
    <span slider ng-model="vm.progress" min=0 max=100  handle="square"></span>
    <span slider ng-model="vm.tempo" min=-50 max=50 orientation="vertical" handle="square"></span>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="player-buttons">
        <button ng-click="play()" class="btn-play"><i class="fa fa-play"></i></button>
        <button ng-click="pause()" class="btn-pause"><i class="fa fa-pause"></i></button>
        <button ng-click="stop()" class="btn-stop"><i class="fa fa-stop"></i></button>
        <button ng-click="cue()" class="btn-cue">cue</button>
      </div>
    </div>
  </div>
</section>
