<div ng-controller="MixerCtrl">
  <div class="row mixer" >

    <h3>mixer <span class="txt-yellow">dj-2000</span></h3>

    <div class="col-md-6 mixer-sliders">

      <div class="fs-title">
        <span class="fst-label">LOW</span>
        <span class="fst-value txt-cyan">+ 2.0</span>
      </div>
      <div class="frequency-slider">
        <span slider ng-model="channelA.low" min=0 max=100 handle="square" tooltip="hide"></span>
      </div>

      <div class="fs-title">
        <span class="fst-label">MED</span>
        <span class="fst-value txt-cyan">- 5.0</span>
      </div>
      <div class="frequency-slider">
        <span slider ng-model="channelA.mid" min=0 max=100 handle="square" tooltip="hide"></span>
      </div>

      <div class="fs-title">
        <span class="fst-label">HIGH</span>
        <span class="fst-value txt-cyan">+ 3.0</span>
      </div>

      <div class="frequency-slider">
        <span slider ng-model="channelA.high" min=0 max=100 handle="square" tooltip="hide"></span>
      </div>

      <div>
        <span slider ng-model="channelA.vol" min=0 max=100 orientation="vertical" handle="square"></span>
      </div>

    </div>
    <div class="col-md-6 mixer-sliders">
      <div class="fs-title">
        <span class="fst-label">LOW</span>
        <span class="fst-value txt-red">+ 2.0</span>
      </div>
      <div class="frequency-slider">
        <span slider ng-model="channelB.progress" min=0 max=100 handle="square" tooltip="hide"></span>
      </div>

      <div class="fs-title">
        <span class="fst-label">LOW</span>
        <span class="fst-value txt-red">+ 2.0</span>
      </div>
      <div class="frequency-slider">
        <span slider ng-model="channelB.progress" min=0 max=100 handle="square" tooltip="hide"></span>
      </div>

      <div class="fs-title">
        <span class="fst-label">LOW</span>
        <span class="fst-value txt-red">+ 2.0</span>
      </div>
      <div class="frequency-slider">
        <span slider ng-model="channelB.progress" min=0 max=100 handle="square" tooltip="hide"></span>
      </div>

      <div><span slider ng-model="channelB.vol" min=0 max=100 orientation="vertical"></span></div>
    </div>
  </div>
</div>

