<div ng-controller="MixerCtrl">
  <div class="row mixer" >

    <h3>mixer <span class="txt-yellow">dj-2000</span></h3>

    <div class="col-md-6 mixer-sliders">

      <div class="nb-slider-label">
        <span class="sl-title">LOW</span>
        <span class="sl-value txt-cyan">+ 2.0</span>
      </div>
      <div class="fqz-horizontal-slider">
        <span slider ng-model="channelA.low" min=0 max=100 handle="square" tooltip="hide"></span>
      </div>

      <div class="nb-slider-label">
        <span class="sl-title">MID</span>
        <span class="sl-value txt-cyan">- 5.0</span>
      </div>
      <div class="fqz-horizontal-slider">
        <span slider ng-model="channelA.mid" min=0 max=100 handle="square" tooltip="hide"></span>
      </div>

      <div class="nb-slider-label">
        <span class="sl-title">HIGH</span>
        <span class="sl-value txt-cyan">+ 3.0</span>
      </div>
      <div class="fqz-horizontal-slider">
        <span slider ng-model="channelA.high" min=0 max=100 handle="square" tooltip="hide"></span>
      </div>

      <div class="nb-slider-label vol-slider">
        <span class="sl-title">VOL</span>
        <span class="sl-value txt-cyan">+ 2.0</span>
      </div>
      <div class="vol-vertical-slider">
        <span slider ng-model="channelA.vol" min=0 max=100 orientation="vertical" handle="square" tooltip="hide"></span>
      </div>

    </div>
    <div class="col-md-6 mixer-sliders">

      <div class="nb-slider-label">
        <span class="sl-title">LOW</span>
        <span class="sl-value txt-red">+ 2.0</span>
      </div>
      <div class="fqz-horizontal-slider">
        <span slider ng-model="channelB.progress" min=0 max=100 handle="square" tooltip="hide"></span>
      </div>

      <div class="nb-slider-label">
        <span class="sl-title">MID</span>
        <span class="sl-value txt-red">+ 2.0</span>
      </div>
      <div class="fqz-horizontal-slider">
        <span slider ng-model="channelB.progress" min=0 max=100 handle="square" tooltip="hide"></span>
      </div>

      <div class="nb-slider-label">
        <span class="sl-title">HIGH</span>
        <span class="sl-value txt-red">+ 2.0</span>
      </div>
      <div class="fqz-horizontal-slider">
        <span slider ng-model="channelB.progress" min=0 max=100 handle="square" tooltip="hide"></span>
      </div>


      <div class="nb-slider-label vol-slider">
        <span class="sl-title">VOL</span>
        <span class="sl-value txt-red">+ 2.0</span>
      </div>
      <div class="vol-vertical-slider">
        <span slider ng-model="channelB.vol" min=0 max=100 orientation="vertical" handle="square" tooltip="hide"></span>
      </div>

    </div>
  </div>
</div>

