@color-grey-dark: #18181f;
@color-grey-medium: #202028;
@color-grey-prime: #2b2b35;
@color-grey-light:#606173;
@color-grey-lightest:#d9d9d9;

@color-cyan:#00ffec;
@color-red:#e40053;

@color-green:#92ff35;
@color-yellow:#febc10;
@color-pink:#ff0086;
@color-blue:#00baff;
@color-orange:#ff7b4c;


.grad-cyan{
  background: -moz-linear-gradient(left,  rgba(0,255,236,0.01) 0%, rgba(0,255,236,0.3) 100%)!important; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,255,236,0.01)), color-stop(100%,rgba(0,255,236,0.3)))!important; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,255,236,0.01) 0%,rgba(0,255,236,0.3) 100%)!important; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,255,236,0.01) 0%,rgba(0,255,236,0.3) 100%)!important; /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,255,236,0.01) 0%,rgba(0,255,236,0.3) 100%)!important; /* IE10+ */
  background: linear-gradient(to right,  rgba(0,255,236,0.01) 0%,rgba(0,255,236,0.3) 100%)!important; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0300ffec', endColorstr='#4d00ffec',GradientType=1 )!important; /* IE6-9 */

}

.grad-red {
  background: -moz-linear-gradient(left,  rgba(228,0,83,0) 0%, rgba(228,0,83,0.3) 100%)!important; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(228,0,83,0)), color-stop(100%,rgba(228,0,83,0.3)))!important; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(228,0,83,0) 0%,rgba(228,0,83,0.3) 100%)!important; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(228,0,83,0) 0%,rgba(228,0,83,0.3) 100%)!important; /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(228,0,83,0) 0%,rgba(228,0,83,0.3) 100%)!important; /* IE10+ */
  background: linear-gradient(to right,  rgba(228,0,83,0) 0%,rgba(228,0,83,0.3) 100%)!important; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e40053', endColorstr='#4de40053',GradientType=1 )!important; /* IE6-9 */

}
